body {
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.603)), url(../trees.jpg);
    background-size: cover;
    background-position: top right;

}

.form-box {
    border: 2px solid rgba(255, 255, 255, 0.269);
    border-radius: 10px;
}


.input-box {
    width: 100%;
    margin: 30px 0;
    position: relative;

}

.form-control,
.form-control:focus {

    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.269);
    outline: none;
    height: 50px;
    border-radius: 40px;
    box-shadow: none;
    padding: 20px 45px 20px 20px;
    color: white;

}

.form-control::placeholder {
    color: white;
}

.input-box i {
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 20px;

    transform: translateY(-50%);
}

#signupButton,
#loginButton {
    border: none;
    width: 100%;
    border-radius: 40px;
    cursor: pointer;
    color: #333;
    padding: 10px 0;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.147);
    font-weight: 600;
}

/* home */

.navbar {
    border-bottom: 2px solid rgba(255, 255, 255, 0.269);
    box-shadow: rgba(255, 255, 255, 0.316) 0px 4px 12px;


}

#logoutButton {
    border: none;
    background-color: white;
    color: #333;
    padding: 10px 25px;
    border-radius: 20px;
}

#welcome {
    font-family: "Pacifico", cursive;
    font-size: 45px;
}